# dependencies
node_modules
# production
logs
artifacts
ref
dist
certs
.vscode
files
# misc
.env
.env.*
public/avatar
public/payment
public/kyc

npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json